<ion-navbar *navbar>
  <ion-title>
    Blank Starter
  </ion-title>
</ion-navbar>

<ion-content class="home" padding>
  <h1 text-center>Press a button to navigate</h1>
  <pre>
   {{ authInfo  | json}}
    </pre>

  <div *ngIf="state.showLoginInfo === true">
    <h2>hello</h2>
    <form #loginCreds="ngForm">
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text" ngControl="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" ngControl="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="error" padding text-wrap>
        {{error?.message}}
      </ion-item>
      <div padding>
        <button block (click)="loginClicked(loginCreds.value, $event)">Login</button>
        <button block (click)="loginFacebook()">Login Facebook</button>
      </div>
    </form>
  </div>
  <div padding *ngIf="!state.showLoginInfo">
    <pre>{{(textItems | async) | json }}</pre>
    <button block (click)="logoutClicked()">Logout</button>
  </div>
</ion-content>